mixin account-document(title, type, price, statusText, status)
    +b.account-document&attributes(attributes)
        +e.header
            +e.title !{title}
            +e.data
                if (type && price)
                    +e.price(class=type)
                        .icon
                            +icon('l-arrow')
                        | !{price}
                +e.header-status(class=status ? 'ready' : 'waiting') !{statusText}
        +e.body
            block